<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaLogger.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MediaLogger.My.MySettings>
            <setting name="MovieRef" serializeAs="String">
                <value />
            </setting>
            <setting name="SoundRef" serializeAs="String">
                <value />
            </setting>
            <setting name="KeySet" serializeAs="String">
                <value>F12</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
        </MediaLogger.My.MySettings>
    </userSettings>
</configuration>